.component__header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  .component__header__content {
    width: 90%;
    max-width: 900px;
    height: 100%;
    .component__header__content__logo {
      height: 100%;
    }
    .component__header__content__right {
      .component__header__content__right__wallet_connect {
        outline: none !important;
      }
      .component__header__content__right__icon_button {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
