html {
  --bg-primary: rgb(240, 244, 247);
  --bg-secondary: #f2f4f5;
  --bg-third: rgb(0, 225, 0);
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--bg) !important;
    --bg: white;
    --app-width: 750px;

    .screen {
      max-width: var(--app-width);
      margin: 0 auto;
    }

    .screen {
      max-width: var(--app-width);
      margin: 0 auto;
    }

    .ant-modal-mask {
      background-color: var(--bg);
    }

    .modal-primary {
      .ant-modal-content {
        background-color: var(--bg);
        box-shadow: unset;
      }
    }

    .bg-primary {
      background: var(--bg);
    }

    .bg-primary {
      background: var(--bg-primary);
    }

    .bg-secondary {
      background-color: var(--bg-secondary);
    }

    .bg-third {
      background-color: var(--bg-third);
    }
  }
}
